.add-user-modal {
   position: relative;
   width: 40%;
   height: 70vh;
   padding-left: 230px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   border-radius: 10px;
   overflow: hidden;
}

.decoration-container {
   position: absolute;
   left: 0;
   top: 0;
   bottom: 0;
   width: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #398af4;
}

.close-add-user {
   height: 50px;
   width: 50px;
   border-radius: 50px;
   border: 1px solid #e8f1fe;
   font-size: 18px;
   background-color: rgba(0, 0, 0, 0.1);
   color: #fff;
}

.close-add-user:hover {
   background-color: #398af4;
}

.add-user-title {
   font-size: 23px;
   font-weight: bold;
   color: #398af4;
}

.add-user-form {
   padding-right: 50px;
   padding-bottom: 20px;
   padding-top: 40px;
}

.add-user-form input {
   font-size: 16px;
}

.add-user-form label {
   display: block;
   font-size: 13px;
   color: #717171;
   margin: 10px 0;
}

.add-user-form .text {
   width: 100%;
   height: 40px;
   border: none;
   border-bottom: 1px solid #717171;
   margin-bottom: 5px
}

.add-user-form .text:focus {
   outline: none;
   border-bottom: 2px solid #398af4;
}

.gender-hint {
   display: inline-block;
   margin: 0 10px;
}

.add-user-form select {
   width: 100%;
   height: 40px;
   padding: 0 10px;
   border: none;
   border-bottom: 1px solid #717171;
   background-color: #fff;
}

.add-user-form select:focus {
   outline: none;
   border-bottom: 2px solid #398af4;
}

.submit-button {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 30px 30px;
   margin-top: 40px;
}

.submit-button button {
   height: 40px;
   width: 120px;
   border: none;
   background-color: #398af4;
   color: #fff;
   border-radius: 50px;
   font-weight: bold;
   font-size: 16px;
   cursor: pointer
}

.submit-button button:focus {
   outline: none
}

.error {
   color: red;
   font-size: 14px;
}

/* 122 */