/* p {
   margin: 0;
} */

.main-user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  cursor: pointer;
}

.user-details-container {
  display: flex;
  align-items: center;
}

.user-icon {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  border-radius: 50px;
  overflow: hidden;
}

.user-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-details p {
  margin: 0;
}

.edit-user {
  display: flex;
  align-items: center;
  height: 30px;
  width: 80px;
  padding: 20px;
  font-size: 15px;
  border-radius: 50px;
  border: none;
  background-color: rgba(0, 133, 250, 0.849);
  color: #fff;
}

.edit-user:hover {
  color: #000;
}

/* 69 (look) */
